.intro{
  display: flex;
  flex-direction: column;
    font-family: "Inter", Arial, sans-serif;
    margin: 90px auto;
    max-width: 830px;
    max-height: 607px;
}

.intro__heading{
  max-width: 830px;
  max-height: 174px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0;
}

.intro__text{
max-width: 738px;
max-height: 135px;
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0;
}
.intro__author{
  max-width: 732px;
  max-height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: right;
}
.intro__subtext{
  max-width: 722px;
  max-height: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro{
  max-width: 288px;
  max-height: 1033px;
  margin: 40px auto;
}
.intro__heading{
max-width: 288px;
max-height: 175px;
font-size: 32px;
line-height: 35px;
}
.intro__text{
  max-width: 288px;
  max-height: 300px;
  line-height: 30px;
}
.intro__author{
  max-width: 288px;
  max-height: 34px;
}
.intro__subtext{
  max-width: 288px;
  max-height: 442px;
}


}

@media screen and (min-width: 545px) and (max-width: 1023px) {
.intro{
  max-width: 720px;
  max-height: 573px;
  margin: 65px auto;
}
.intro__heading{
max-width: 707px;
max-height: 147px;
font-size: 45px;
line-height: 49px;
}
.intro__text{
  max-width: 720px;
  max-height: 136px;
}
.intro__author{
  max-width: 720px;
  max-height: 34px;
}
.intro__subtext{
  max-width: 720px;
}
}