.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
 max-width: 255px;
max-height: 69px;
 margin: auto;
 padding-top: 34px;
}


.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
  max-height: 983px;
  margin: auto;
  padding-top: 100px;
}

.lead__heading {
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subheading {
  max-width: 720px;
  max-height: 72px;
  top: 426px;
  left: 280px;
  font-weight: 400;
  size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.lead__content-image {
  max-width: 984px;
  max-height: 615px;
  top: 562px;
  left: 148px;
  margin: auto;
}

.lead__image {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
    .header__logo {
 max-width: 188px;
 max-height: 52px;
 padding-top: 20px;
}
.lead{
  padding-top: 40px;
}
.lead__heading{
  font-size: 40px;
  line-height: 44px;

}
.lead__subheading{
  font-size: 16px;
  line-height: 20px;

}
.lead__content-image{
  max-width: 320px;
  max-height: 200px;

}


}

@media screen and (min-width: 545px) and (max-width: 1023px) {
   .header__logo {
 max-width: 254px;
 max-height: 66px;
 padding-top: 30px;
}

.lead{
  padding-top: 70px;
}

  .lead__heading{
    font-size:75px;
    line-height: 79px;
  }
  .lead__subheading{
  font-size: 30px;
  line-height: 36px;

}
.lead__content-image{
  max-width: 768px;
  max-height: 480px;

}
}
